a{
  text-decoration: none;
  color: #056839;
}

ion-menu-button {
    color: var(--ion-color-primary);
  }

.landing-header{
    background-color: #4a4a49;
  }
  
.logo-header{
    display: block;
    width: 120px;
    margin: 0 auto;
    text-align: center;
  }

.lista{
  background-color: #dddddd;
  color: #559378;
}

.img-menu {
  max-width: 90px;
}

.bgBoxes {
  background-color: #e4e4e4;
  padding: 0.5rem;
  margin: 0.5rem;
}

.greyBorder{
  padding: 0.5rem;
  margin: 0.5rem;
  border: #e4e4e4 2px solid;
}

.dashboard{
  background-color: #056839;
  color: #fff;
  font-size: 14px;
}

.white-text {
  color: #fff;
}

.green-border{
  border-top: #3f8b2f 2px solid;
}

.title{
  font-size: 16px;
}