.login-header{
    background-color: #4a4a49;
}

.logo-img{
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-button {
    background-color: #a5c715;
}